<launch>

  <!-- launch all color robots without rviz -->
  <include file="$(find-pkg-share turtlelib)/launch/load_one.launch.py">
    <arg name="color" value="light_black"/>
    <arg name="use_rviz" value="false"/>
  </include>

  <!-- create static broadcasters to put robots in world frame -->
  <node pkg="tf2_ros" exec="static_transform_publisher" args="0.25 0 0 0 0 0 world base_footprint"/>

  <!-- launch new rviz -->
  <node pkg="rviz2" exec="rviz2" args="-d $(find-pkg-share turtlelib)/config/basic_all.rviz"/>
</launch>
